name: branch binary

on:
  push:
    branches:
    - main

jobs:
  build:
    name: Publish for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
        - os: ubuntu-latest
          artifact_name: flowctl
          asset_name: flowctl.linux-amd64
    steps:
    - name: set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.17
      id: go
    - name: checkout
      uses: actions/checkout@v2
    - name: download modules
      if: steps.cache.outputs.cache-hit != 'true'
      run: go mod download
    - name: test
      run: go test ./... -v
    - name: build
      run: go build -o ${{ matrix.artifact_name }} cmd/flowctl/main.go
    - name: upload
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: ${{ matrix.artifact_name }}
        asset_name: ${{ matrix.asset_name }}
        tag: branch-main
        overwrite: true
